
    <h1>Salut <%= @user.first_name %> et bienvenue chez Catshop !</h1>
    <p>
    Tu t'es inscrit sur <strong>Catshop</strong> en utilisant l'e-mail suivant : <%= @user.email %>.
    </p>
    <p>
    Pour accéder à ton espace client, connecte-toi via : <%= @url %>.
    </p>
    <p> À très vite sur Catshop ! </p>
