<br><div class="container mt-1 parent">
    <div class="row d-flex justify-content-center">
        <div class="col-md-5">
            <div class="card p-1 py-1">
                <div class="text-center"> <img src="https://images.chienchatetcompagnie.fr/Produits/256/1604172_WEB1.jpg" width="100" class="rounded-circle"> </div>
                <div class="text-center mt-3"> <span class="bg-secondary p-1 px-4 rounded text-white">Pro</span>
                    <h5 class="mt-2 mb-0">JCVD</h5> <span>UI/UX Designer</span>
                    <div class="px-4 mt-1">
                        <p class="fonts">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                    </div>
                    <ul class="social-list">
                    </ul>
                    <div class="buttons"> <button class="btn btn-warning px-4">Message</button> <button class="btn btn-warning px-4 ms-3">Contact</button></div>
                </div>
            </div>
        </div>
    </div>
</div>